.searchBar {
  max-width: 1160px;
  margin: 0 auto;
  padding: 16px;
}

.searchBarForm {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.searchBarInput {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #fff;
  outline: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBarInput:hover {
  border-color: #000000;
}

.searchBarInput:focus-within {
  border-color: #4e75ff;
}

.searchBarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #4e75ff;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBarBtn:hover {
  background-color: #6c8cff;
}
