.container {
  margin: 0 auto;
  padding: 0 16px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieItem {
  /* flex: 1 1 calc(25% - 20px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: calc((100% - 75px) / 4);
}
